h1 {
      font-family: fantasy;
      font-weight: lighter;
      letter-spacing: 1px;
}
    .header {
      text-align: left;
      line-height: 0;
}
    .footer {
    text-decoration: overline;
}
    span:first-of-type {
    font-size: 30px;
}
.bodyColor{
    background-color:antiquewhite;
}
